@model IEnumerable<eSalesPro.Models.Customer>
@{
    decimal total = 0;
}
<table border="0" class="table table-responsive border_black" id="table_on_dates">
    <thead>
        <tr class="table-heading-fonts table-main-headings">
            <th class="text-center">Type</th>
            <th class="text-center">Customer</th>
            <th class="text-center">Phone No</th>
            <th class="text-center">Email</th>
            <th class="text-center">Credit Limit</th>
            <th class="text-center">Outstanding Balance</th>
            <th class="text-center">Status</th>


        </tr>
    </thead>
    <tbody class="black-color bold text-center">


        @foreach(var obj in Model)
        { 

        <tr>
            <td data-title="User ID">@obj.Customer_Type.Type</td>
            <td data-title="User ID">@obj.Name</td>
            <td data-title="User ID">@obj.phone</td>
            <td data-title="User ID">@obj.Email</td>
            <td class="text-center" data-title="User ID">£ @obj.Credit_Limit</td>
            <td class="text-center" data-title="User ID">£ @obj.Balance</td>
            <td data-title="User ID">@obj.is_Active</td>
        </tr>
          
            total = total + obj.Balance;
            
        }

        <tr style="color:red;">
            <td data-title="User ID"></td>
            <td data-title="User ID"></td>
            <td data-title="User ID"></td>
            <td data-title="User ID"></td>
            <td class="text-center" data-title="User ID">Total</td>
            <td class="text-center" data-title="User ID">£ @total</td>
            <td data-title="User ID"></td>

        </tr>




     
    </tbody>

</table>