@model List<eSalesPro.Models.Product>



<div>

    <table border="0" class="table table-responsive border_black" id="partial_table_add">

        <thead>
            <tr class="table-heading-fonts table-main-headings">
                <th class="text-center">Custom Label</th>
                <th class="text-center">Description</th>
                <th class="text-center">Normal</th>
                <th class="text-center">Premium</th>
                <th class="text-center">Trade</th>
                <th class="text-center">Other</th>
            </tr>
        </thead>


        @foreach (var v in Model)
        {
            <tbody class="black-color" onclick="tbody_add_record()">



                <tr id="rowId" class="font-15 id ">

                    <td id="partial_sku" class="border-right-td text-center">@v.Custom_Label_</td>
                    <td id="partial_description" class="border-right-td text-center">@v.Item_Title</td>
                    <td id="partial_normal" class="border-right-td text-center">@v.Price_Normal</td>
                    <td id="partial_premium" class="border-right-td text-center">@v.Price_Premium</td>
                    <td id="partial_trade" class="border-right-td text-center">@v.Price_Trade</td>
                    <td id="partial_other" class="border-right-td text-center">@v.Price_Others</td>

                    <td id="partial_normal_vat" hidden class="border-right-td text-center">@v.Normal_VAT</td>
                    <td id="partial_quantity" hidden>@v.Quantity.Quantity1</td>

                </tr>

            </tbody>
        }
    </table>



</div>

@*<div>

    @foreach (var v in Model)
    {
        <ul>
            <li>@v.Price_Trade</li>
            <li>@v.Custom_Label_</li>
            <li>@v.Price_Normal</li>
        </ul>
    }
    </div>*@
