@model eSalesPro.Models.Supplier

<ul class="list-style-type-custom">
    <li id="supplier_li" class="bold font-18 black-color"></li>
    <li id="supplier_name_partial">@Model.Name</li>
    <li id="supplier_address_partial">@Model.Address</li>
    <li id="supplier_postcode_partial">@Model.Post_Code</li>
    <li id="supplier_phone_partial">@Model.Phone</li>
    <li id="supplier_email_partial">@Model.Email</li>
</ul>