@model eSalesPro.Models.Customer
<!---->
<div class="win text-center" id="edit_customers">
    <h3 class="black-color"><b>Edit Customer</b></h3>
    <img class="pull-right margin-supplier ml-22" src="~/img/images/customer.png" />

    <form id="demo-form2" action="@Url.Action("Edit", "Customer", new {id=@Model.Id })" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



        <div class="col-md-12 text-center">

            <div class="col-md-6">

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Name <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" value="@Model.Name" name="name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Company Name <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="company_name" value="@Model.Company.Company_Name" required>
                    </div>
                </div>



                <div class="customer-border"></div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Phone <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="phone" value="@Model.phone" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Email <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="email" value="@Model.Email" required>
                    </div>
                </div>


                @*<div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Bank<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <select id="customer_type" name="bank_name" class="form-control width-192">
                            <option value="@Model.Account.Bank_Id">@Model.Account.Bank.Bank_Name</option>
                            @foreach (var banks in ViewBag.Bank)
                            {
                                <option value="@banks.Id">@banks.Bank_Name</option>
                            }
                        </select>


                    </div>
                </div>*@


                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Account No<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="account_no" value="@Model.Billing_Address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="">Notes<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <textarea class="width-193" name="notes" required>@Model.Notes</textarea>
                    </div>
                </div>



                <div class="empty-height"></div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Type<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <select id="customer_type" name="customer_type" class="form-control width-192">
                            <option value="@Model.Customer_Type.Id">@Model.Customer_Type.Type</option>
                            @foreach (var customer_type in ViewBag.Customer_Type)
                            {
                                <option value="@customer_type.Id">@customer_type.Type</option>
                            }
                        </select>


                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Opening Balance<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="opening_balance" value="@Model.Opening_Balance" required>
                    </div>
                </div>


                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Credit Limit<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="credit_limit" value="@Model.Credit_Limit" required>
                    </div>
                </div>
            </div>



            <div class="col-md-6">

                <div class="form-group">
                    <label class="customer-create-texts width-178" for="middle-name">Address<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input class="ml--50" type="text" name="address1" value="@Model.Billing_Address" required>
                        <input class="ml--50" type="text" name="address2">
                        <input class="ml--50" type="text" name="address3">
                        <input class="ml--50" type="text" name="address4">
                        <input class="ml--50" type="text" name="address5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input class="ml--50" type="text" name="billing_postcode" value="@Model.Billing_Postcode">
                        <a href="#"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                    </div>
                </div>


                <div class="customer-border"></div>

                <div class="clearfix"></div>

                <div class="pull-left ml-9">
                    <label><input type="checkbox" id="billing_address_checkbox" checked="checked" onclick="Different_Address()" />Use this as billing and shipping address</label>
                </div>

                <div class="clearfix"></div>
                <div class="empty-height"></div>


                <div id="Shipping_Address_Div" class="none">
                    <div class="form-group">
                        <label class="customer-create-texts width-178" for="middle-name">Shipping Address<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input class="ml--50" type="text" name="shipping_address" value="@Model.Shipping_Address" required>
                            <input class="ml--50" type="text" name="address2">
                            <input class="ml--50" type="text" name="address3">
                            <input class="ml--50" type="text" name="address4">
                            <input class="ml--50" type="text" name="address5">
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input class="ml--50" type="text" name="shipping_postcode" value="@Model.Shipping_Postcode">
                            <a href="#"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>




        <div class="clearfix"></div>


        <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>

        <div class="col-md-12">
            <p class="font-12 black-color text-center">
                NOTE: Opening Balance use - values if customer owed to seller and + values if seller owed to customer.
                <br /> Add (-1) for unlimited Credit
            </p>
        </div>

        <div class="clearfix"></div>
        <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>


        <div class="clearfix"></div>

        @*<div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-3" style="margin-bottom:15px">
                <input type="submit" value="Add Product" class="btn btn-success" />
            </div>*@
        <div class="col-md-12">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <input type="submit" value="Edit" class="btn btn-success btn-mini center-block width-145" />
            </div>

            <div class="col-md-3">
                @*<a href="" class="btn btn-primary btn-mini center-block" style="width:135px">Cancel</a>*@
                <a href="~/Customer/Customer_List" class="btn btn-primary blue-btn-style-modal btn-mini center-block a-cancel">Cancel</a>
            </div>
            <div class="col-md-3"></div>



        </div>


        <div class="clearfix"></div>



    </form>

</div>