<body id="body-index">
    <div id="sticky-footer-wrap">

        @*-----------------Top Navigation Start---------------*@

        @{
            Html.RenderPartial("Top_Navigation_View");
        }

        @*-----------------Top Navigation End---------------*@

        <div class="container-fluid main-container">

            @*-----------------Side Navigation Start---------------*@
            <div class="row">
                @{
                    Html.RenderPartial("Side_Navigation_View");
                }
                @*-----------------Side Navigation End---------------*@



                @*-----------------Main Container Start---------------*@
                <div class="user-page-height">
                    <div class="bggg-img">
                        <div class="col-md-12">
                            <div class="empty-height"></div><div class="empty-height"></div>

                            <div class="form-group pull-right mb-0 margin_right_6">
                                <label class="width-134 pull-left mt-5" for="middle-name">Document Type</label>
                                <div class="pull-left">
                                    <select id="language" oninput="run_invoice(); clear_customer_li();" name="supplier_name" class="select-class-color form-control border_black-1px width-145">
                                        <option class="option-color" value="1">Invoice</option>
                                        <option class="option-color" value="2">Quote</option>
                                        <option class="option-color" value="3">Item Sale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="invoice_id" class="hideDocument">
                            <div class="">
                                <div class="">
                                    
                                </div>
                                <div class="">

                                   

                                    <div class="col-md-4 pull-left">
                                       
                                        <h3 class="bold mt-0">
                                            New Invoice
                                        </h3>

                                        <div class="empty-height"></div><div class="empty-height"></div>


                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" onclick="abc()" data-target="#ExistingModal">
                                                <span class=""><img src="~/img/images/search_customer.png" /></span><br />
                                                <span class="bold">Existing Customer</span>
                                            </a>
                                        </div>

                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" data-target="#CreateModal">
                                                <span class=""><img src="~/img/images/add_customer.png" /></span><br />
                                                <span class="bold">New Customer</span>

                                            </a>
                                        </div>


                                        <div class="clearfix"></div>


                                    </div>





                                    <div class="col-md-2 pull-left pl-0 pr-0">
                                        <ul class="list-style-type-custom">
                                            <li id="type_customer" class="bold font-18 black-color"></li>
                                            <li id="customer_name"></li>
                                            <li id="customer_address"></li>
                                            <li id="customer_postcode"></li>
                                            <li id="customer_phone"></li>
                                            <li id="customer_email"></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 pull-left pl-0 pr-0">

                                        
                                        <div class="col-md-5">
                                            <label><input type="checkbox" value="" />Check Sold History</label>
                                            <label><input type="checkbox" id="excludeVat" value="" onclick="excludeVatUnchecked();" />Exclude VAT</label>
                                            @*<label><input type="checkbox" value="" />Show Details</label>*@
                                        </div>
                                        <div class="col-md-7 pl-0 pr-0">



                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Invoice Number</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Date</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Sales Person</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Payment Method</label>
                                                <div class="pull-left">
                                                    <select name="supplier_name" class="form-control border_black-1px width-145 select-class-color">
                                                        <option class="option-color" value="">Cash</option>
                                                        <option class="option-color" value="">Card</option>
                                                        <option class="option-color" value="">Cheque</option>
                                                        <option class="option-color" value="">Bank Transfer</option>
                                                        <option class="option-color" value="">Paypal</option>
                                                        <option class="option-color" value="">Credit</option>
                                                        <option class="option-color" value="">Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Purchase Order No</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <hr class="hr_customer"/>


                            <div class="col-md-12">


                                <table border="0" class="table table-responsive border_black" style="width:100%" id="maintable">
                                    <thead>
                                        <tr class="table-heading-fonts-new-invoice table-main-headings">
                                            <th class="text-center">Code</th>
                                            <th class="text-center width-53p">Description</th>
                                            <th class="text-center">Quantity</th>
                                            <th width="10%" class="text-center">Price</th>
                                            <th class="text-center hidecolumn">Price+VAT</th>
                                            <th width="2%" class="text-center">Total</th>
                                            <th class="text-center hidecolumn">Total+VAT</th>
                                            <th class="text-center">Discount</th>
                                            <th width="25%" class="text-center">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody class="black-color">

                                        <tr id="rowId" class="font-15 id remove_div">
                                            <td class="border-right-td"><div class="text-center"><input placeholder="Code" class="unbold width-110" id="codeforProduct" name="yoyoyoyoyoyoyoy" onkeyup="productList()" type="text"></div></td>

                                         

                                            <td class="border-right-td">
                                                <textarea class="description-text-area unbold width-100p" id="invoice_description" required="" placeholder="Description"></textarea>
                                            </td>
                                            <td class="border-right-td"><div class="text-center"><input id="invoice_quantity" placeholder="0" class="unbold width-45" name="" type="text"></div></td>
                                            <td class="border-right-td"><div class="text-center"><input id="invoice_price" placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td>
                                            <td class="border-right-td hidecolumn text-center"><input id="invoice_price_vat" placeholder="0.0" class="new-invoice-width-boxes unbold width-78" name="" type="text"></td>
                                            <td class="text-center border-right-td width-68"><div id="invoice_total" class="total_invoice_background">£12345678</div></td>
                                            <td class="border-right-td text-center width-78 hidecolumn"><div id="invoice_total_vat" class="total_invoice_background">£123456789</div></td>
                                            <td class="border-right-td"><div class="text-center"><input id="invoice_discount" placeholder="0.0" class="unbold width-45" name="" type="text"></div></td>
                                            <td class="text-center width-27p" style="vertical-align:middle;">
                                                <a href="#" class="add_new_row showdiv">
                                                    <img src="/img/images/plus_new_sale.png">
                                                </a>
                                                <a href="#" class="remove">
                                                    <img src="/img/images/cross_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/barcode_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/findpost.png">
                                                </a>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>


                                <div id="addedRows"></div>
                                <div id="productList">
                                    <h1></h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>



                            <div class="">

                                <div class="col-md-4 unbold">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Customer notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Private notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <table id="table_cash" class="black-color col-md-12 border_black">
                                        <tr>
                                            <td class="bold">Net</td>
                                            <td class="text-right">£123</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">VAT (20%)</td>
                                            <td class="text-right">£1</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">Gross</td>
                                            <td class="text-right">£83</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Discount</td>
                                            <td class="text-right">£0</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Total After Discount</td>
                                            <td class="text-right">£0</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Payment Status</td>
                                            <td class="text-right">
                                                <select id="custom_date_select_invoice" onclick="show_custom_date_payment()" name="supplier_name" class="form-control border_black-1px min-height-32 width-180 select-class-color">
                                                    <option class="option-color" value="">Paid</option>
                                                    <option class="option-color" value="">Unpaid</option>
                                                    <option class="option-color" value="">Partially Paid</option>
                                                    <option class="option-color" value="">Deposit</option>
                                                    <option class="option-color" value="">Pay within 7 Days</option>
                                                    <option class="option-color" value="">Pay within 14 Days</option>
                                                    <option class="option-color" value="">Pay within 30 Days</option>
                                                    <option class="option-color" value="1">Custom Date</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr id="custom_date_show_invoice" style="display:none">
                                            <td class="bold width-134">Custom Date</td>
                                            <td><input type="date" class="width-180"/></td>
                                        </tr>

                                        <tr>
                                            <td class="bold text-center"><a href="#">Give Refund</a></td>
                                            <td class="bold text-center"><a href=" #">Add Partial Payment</a></td>
                                        </tr>

                                    </table>
                                </div>

                                <div class="clearfix"></div>

                            </div>

                            <div class="col-md-12">

                                <div class="empty-height"></div><div class="empty-height"></div>

                                <div class="col-md-3 pull-right">
                                    <a href="" class="btn btn-primary blue-btn-style btn-mini bold">Add Global Discount</a>
                                </div>

                            </div>

                            <div class="col-md-12">



                                <div class="col-md-5"></div>


                                <div class="col-md-1 pr-0 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/save.png" /></span><br />
                                        <span class="bold">Save</span>
                                    </a>
                                </div>

                                <div class="col-md-1 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/exit.png" /></span><br />
                                        <span class="bold ml--7">Exit</span>

                                    </a>
                                </div>
                                <div class="col-md-5"></div>

                            </div>

                        </div>





                        <div id="quote_id" style="display:none;">
                            <div class="">
                                <div class="">

                                </div>
                                <div class="">



                                    <div class="col-md-4 pull-left">

                                        <h3 class="bold mt-0">
                                            New Quote
                                        </h3>

                                        <div class="empty-height"></div><div class="empty-height"></div>


                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" data-target="#ExistingModal">
                                                <span class=""><img src="~/img/images/search_customer.png" /></span><br />
                                                <span class="bold">Existing Customer</span>
                                            </a>
                                        </div>

                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" data-target="#CreateModal">
                                                <span class=""><img src="~/img/images/add_customer.png" /></span><br />
                                                <span class="bold">New Customer</span>

                                            </a>
                                        </div>


                                        <div class="clearfix"></div>


                                    </div>





                                    <div class="col-md-2 pull-left pl-0 pr-0">
                                        <ul class="list-style-type-custom">
                                            <li id="type_customer_quote" class="bold font-18 black-color"></li>
                                            <li id="customer_name_quote"></li>
                                            <li id="customer_address_quote"></li>
                                            <li id="customer_postcode_quote"></li>
                                            <li id="customer_phone_quote"></li>
                                            <li id="customer_email_quote"></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 pull-left pl-0 pr-0">


                                        <div class="col-md-5">
                                            <label><input type="checkbox" value="" />Check Sold History</label>
                                            <label><input type="checkbox" id="QuoteId" value="" onclick="VatQuote();" />Exclude VAT</label>
                                            @*<label><input type="checkbox" value="" />Show Details</label>*@
                                        </div>
                                        <div class="col-md-7 pl-0 pr-0">



                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Quote Number</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Date</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Sales Person</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>


                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Purchase Order No</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <hr class="hr_customer" />


                            <div class="col-md-12">


                                <table border="0" class="table table-responsive border_black" style="width:100%" id="maintable_quote">
                                    <thead>
                                        <tr class="table-heading-fonts-new-invoice table-main-headings">
                                            <th class="text-center">Code</th>
                                            <th class="text-center width-53p">Description</th>
                                            <th class="text-center">Quantity</th>
                                            <th width="10%" class="text-center">Price</th>
                                            <th class="text-center hidecolumnQuote">Price+VAT</th>
                                            <th width="2%" class="text-center">Total</th>
                                            <th class="text-center hidecolumnQuote">Total+VAT</th>
                                            <th class="text-center">Discount</th>
                                            <th width="25%" class="text-center">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody class="black-color">

                                    <tbody class="black-color">

                                        <tr id="rowId" class="font-15 remove_div_quote">
                                            <td class="border-right-td"><div class="text-center"><input placeholder="Code" class="unbold width-110" name="" type="text"></div></td>
                                            <td class="border-right-td">
                                                <textarea class="description-text-area unbold width-100p" required="" placeholder="Description"></textarea>
                                            </td>
                                            <td class="border-right-td"><div class="text-center"><input placeholder="0" class="unbold width-45" name="" type="text"></div></td>

                                            <td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td>
                                            <td class="border-right-td hidecolumnQuote text-center"><input placeholder="0.0" class="new-invoice-width-boxes unbold width-78" name="" type="text"></td>

                                            <td class="text-center border-right-td width-68"><div id="quote_total" class="6 total_invoice_background">£0</div></td>
                                            <td class="border-right-td text-center width-78 hidecolumnQuote"><div id="quote_total_vat" class="7 total_invoice_background">£0</div></td>



                                            <td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="unbold width-45" name="" type="text"></div></td>
                                            <td class="text-center width-25p" style="vertical-align:middle;">
                                                <a href="#" class="add_new_row_quote showdiv">
                                                    <img src="/img/images/plus_new_sale.png">
                                                </a>
                                                <a href="#" class="remove_quote">
                                                    <img src="/img/images/cross_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/barcode_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/findpost.png">
                                                </a>

                                            </td>
                                        </tr>

                                    </tbody>


                                </table>


                                <div id="addedRowsQuote"></div>

                                <div class="clearfix"></div>
                            </div>



                            <div class="">

                                <div class="col-md-4 unbold">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Customer notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Private notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <table id="table_cash" class="black-color col-md-12 border_black">
                                        <tr>
                                            <td class="bold">Net</td>
                                            <td class="text-right">£123</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">VAT (20%)</td>
                                            <td class="text-right">£1</td>
                                        </tr>

                                        <tr>
                                            <td class="bold">Gross</td>
                                            <td class="text-right">£83</td>
                                        </tr>
                                       
                                    </table>
                                </div>

                                <div class="clearfix"></div>

                            </div>

                            <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>

                            <div class="col-md-12">



                                <div class="col-md-5"></div>


                                <div class="col-md-1 pr-0 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/save.png" /></span><br />
                                        <span class="bold">Save</span>
                                    </a>
                                </div>

                                <div class="col-md-1 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/exit.png" /></span><br />
                                        <span class="bold ml--7">Exit</span>

                                    </a>
                                </div>
                                <div class="col-md-5"></div>

                            </div>

                        </div>


                        <div id="item_sale_id" style="display:none;">
                            <div class="">
                                <div class="">

                                </div>
                                <div class="">



                                    <div class="col-md-4 pull-left">

                                        <h3 class="bold mt-0">
                                            New Item Sale
                                        </h3>

                                        <div class="empty-height"></div><div class="empty-height"></div>


                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" data-target="#ExistingModal">
                                                <span class=""><img src="~/img/images/search_customer.png" /></span><br />
                                                <span class="bold">Existing Customer</span>
                                            </a>
                                        </div>

                                        <div class="col-md-6 pull-left">
                                            <a href="#" data-toggle="modal" data-target="#CreateModal">
                                                <span class=""><img src="~/img/images/add_customer.png" /></span><br />
                                                <span class="bold">New Customer</span>

                                            </a>
                                        </div>


                                        <div class="clearfix"></div>


                                    </div>





                                    <div class="col-md-2 pull-left pl-0 pr-0">
                                        <ul class="list-style-type-custom">
                                            <li id="type_customer_item_sale" class="bold font-18 black-color"></li>
                                            <li id="customer_name_item_sale"></li>
                                            <li id="customer_address_item_sale"></li>
                                            <li id="customer_postcode_item_sale"></li>
                                            <li id="customer_phone_item_sale"></li>
                                            <li id="customer_email_item_sale"></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 pull-left pl-0 pr-0">


                                        <div class="col-md-5">
                                            <label><input type="checkbox" value="" />Check Sold History</label>
                                            @*<label><input type="checkbox" id="excludeVat" value="" onclick="excludeVatUnchecked();" />Exclude VAT</label>*@
                                            <label><input type="checkbox" value=""/>Show Details</label>
                                        </div>
                                        <div class="col-md-7 pl-0 pr-0">



                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Item Sale Number</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Date</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Sales Person</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Payment Method</label>
                                                <div class="pull-left">
                                                    <select name="supplier_name" class="form-control border_black-1px width-145 select-class-color">
                                                        <option class="option-color" value="">Cash</option>
                                                        <option class="option-color" value="">Card</option>
                                                        <option class="option-color" value="">Cheque</option>
                                                        <option class="option-color" value="">Bank Transfer</option>
                                                        <option class="option-color" value="">Paypal</option>
                                                        <option class="option-color" value="">Credit</option>
                                                        <option class="option-color" value="">Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>


                                            <div class="form-group">
                                                <label class="pull-left width-134" for="middle-name">Purchase Order No</label>
                                                <div class="pull-left">
                                                    <input class="width-145" type="text" name="company_name" id="company_name" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <hr class="hr_customer" />


                            <div class="col-md-12">


                                <table border="0" class="table table-responsive border_black" style="width:100%" id="maintable_item_sale">
                                    <thead>
                                        <tr class="table-heading-fonts-new-invoice table-main-headings">
                                            <th class="text-center">Code</th>
                                            <th class="text-center width-53p">Description</th>
                                            <th class="text-center">Quantity</th>
                                            <th width="10%" class="text-center">Price</th>
                                            <th width="2%" class="text-center">Total</th>
                                            <th class="text-center">Discount</th>
                                            <th width="25%" class="text-center">Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody class="black-color">

                                        <tr id="rowId" class="font-15 remove_div_item_sale">
                                            <td class="border-right-td"><div class="text-center"><input placeholder="Code" class="unbold width-110" name="" type="text"></div></td>
                                            <td class="border-right-td">
                                                <textarea class="description-text-area unbold width-100p" required="" placeholder="Description"></textarea>
                                            </td>
                                            <td class="border-right-td"><div class="text-center"><input placeholder="0" class="unbold width-45" name="" type="text"></div></td>
                                            <td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td>

                                            <td class="text-center border-right-td width-68"><div class="total_invoice_background">£0</div></td>

                                            <td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="unbold width-45" name="" type="text"></div></td>
                                            <td class="text-center width-25p" style="vertical-align:middle;">

                                                <a href="#" class="add_new_row_item_sale showdiv">
                                                    <img src="/img/images/plus_new_sale.png">
                                                </a>
                                                <a href="#" class="remove_item_sale">
                                                    <img src="/img/images/cross_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/barcode_new_sale.png">
                                                </a>
                                                <a href="#">
                                                    <img src="/img/images/findpost.png">
                                                </a>

                                            </td>
                                        </tr>

                                    </tbody>

                                </table>


                                <div id="addedRowsItemSale"></div>

                                <div class="clearfix"></div>
                            </div>







                            <div class="">

                                <div class="col-md-4 unbold">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Customer notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <textarea class="textarea-style-none unbold textarea-width" placeholder="Private notes..."></textarea>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <table id="table_cash" class="black-color col-md-12 border_black">
                                        <tr>
                                            <td class="bold">Gross</td>
                                            <td class="text-right">£83</td>
                                        </tr>
                                       
                                        
                                        <tr>
                                            <td class="bold">Payment Status</td>
                                            <td class="text-right">
                                                <select id="custom_date_select_invoice" onclick="show_custom_date_payment()" name="supplier_name" class="form-control border_black-1px min-height-32 width-180 select-class-color">
                                                    <option class="option-color" value="">Paid</option>
                                                    <option class="option-color" value="">Unpaid</option>
                                                    <option class="option-color" value="">Partially Paid</option>
                                                    <option class="option-color" value="">Deposit</option>
                                                    <option class="option-color" value="">Pay within 7 Days</option>
                                                    <option class="option-color" value="">Pay within 14 Days</option>
                                                    <option class="option-color" value="">Pay within 30 Days</option>
                                                    <option class="option-color" value="1">Custom Date</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="bold text-center"><a href="#">Give Refund</a></td>
                                            <td class="bold text-center"><a href=" #">Add Partial Payment</a></td>
                                        </tr>

                                    </table>
                                </div>

                                <div class="clearfix"></div>

                            </div>

                            

                            <div class="col-md-12">


                                <div class="col-md-3 pull-right">
                                    <a href="" class="btn btn-primary blue-btn-style btn-mini bold mt--40">Add Global Discount</a>
                                </div>

                            </div>

                            <div class="col-md-12">



                                <div class="col-md-5"></div>


                                <div class="col-md-1 pr-0 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/save.png" /></span><br />
                                        <span class="bold">Save</span>
                                    </a>
                                </div>

                                <div class="col-md-1 text-center">
                                    <a href="#">
                                        <span class=""><img src="~/img/images/exit.png" /></span><br />
                                        <span class="bold ml--7">Exit</span>

                                    </a>
                                </div>
                                <div class="col-md-5"></div>

                            </div>

                        </div>




                    </div>
                </div>
                @*-----------------Main Container Ends---------------*@
            </div>


            @*<div id="sticky-footer-push"></div>*@
        </div>
    </div>

    <footer class="black">

        @{
            Html.RenderPartial("Footer_View");
        }
    </footer>


  

    @*----------------------------POP UP for EXISTING CUSTOMER--------------------------------*@

    <div class="modal fade" id="ExistingModal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content modal-style-custom">

                <div class="title col-md-12">
                    <span>Message</span>
                    <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="win text-center">
                            <h3 class="color"><b>Find Customer</b></h3>

                            <div class="empty-height"></div><div class="empty-height"></div>



                            <div class="col-md-12">
                                <table border="0" class="table table-responsive border_black" id="kj">
                                    <thead>
                                        <tr class="table-heading-fonts table-main-headings">
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Address</th>
                                            <th class="text-center">Postcode</th>
                                            <th class="text-center">Email</th>
                                        </tr>
                                    </thead>

                                    <tbody class="black-color bold" id="">
                                        @foreach (var v in ViewBag.Customer)
{
                                            <tr onclick="go(@v.Id,@v.Customer_Type_Id)">
                                                <td id="@String.Concat("juni1", v.Id)" data-title="User ID">@v.Name</td>
                                                <td id="@String.Concat("juni2", v.Id)" data-title="First Name">@v.phone</td>
                                                <td id="@String.Concat("juni3", v.Id)" data-title="Last Name">@v.Billing_Address</td>
                                                <td id="@String.Concat("juni4", v.Id)" data-title="Last Name">@v.Billing_Postcode</td>
                                                <td id="@String.Concat("juni5", v.Id)" data-title="Email" class="user-emails">@v.Email</td>

                                            </tr>
}
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>


                            @*<table id="00" class="table table-responsive border_black">*@
                            @*<table border="0" class="table table-responsive border_black" id="kj">
                                    <thead>
                                        <tr class="table-heading-fonts table-main-headings">
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Address</th>
                                            <th class="text-center">Postcode</th>
                                            <th class="text-center">Email</th>
                                        </tr>
                                    </thead>

                                    <tbody class="black-color bold" id="">
                                        @foreach (var v in ViewBag.Customer)
                                    {
                                            <tr onclick="go(@v.Id)">
                                                <td id="@String.Concat("juni1", v.Id)" data-title="User ID">@v.Name</td>
                                                <td id="@String.Concat("juni2", v.Id)" data-title="First Name">@v.phone</td>
                                                <td id="@String.Concat("juni3", v.Id)" data-title="Last Name">@v.Billing_Address</td>
                                                <td id="@String.Concat("juni4", v.Id)" data-title="Last Name">@v.Billing_Postcode</td>
                                                <td id="@String.Concat("juni5", v.Id)" data-title="Email" class="user-emails">@v.Email</td>
                                                <td id="@String.Concat("juni6", v.Id)" class="hidden">@v.Customer_Type_Id</td>
                                            </tr>
                                    }
                                    </tbody>
                                </table>*@




                        </div>
                    </div>
                </div>

                <div class="modal-footer"></div>
                <div class=""></div>

            </div>
        </div>
    </div>


    @*----------------------------POP UP END EXISTING CUSTOMER--------------------------------*@



    @*----------------------------POP UP ADD CUSTOMER--------------------------------*@

    <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content modal-style-custom">

                <div class="title col-md-12">
                    <span>Message</span>
                    <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">

                        <div class="win text-center">
                            <h3 class="black-color"><b>New Customer</b></h3>
                            <img class="pull-right margin-supplier ml-22" src="~/img/images/customer.png" />

                            <form id="demo-form2" action="@Url.Action("Create","Customer")" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



                                <div class="col-md-12 text-center">

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Name <span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="name" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Company Name <span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="company_name" required>
                                            </div>
                                        </div>



                                        <div class="customer-border"></div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Phone <span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="phone" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Email <span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="email" required>
                                            </div>
                                        </div>


                                        @*<div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Bank<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">

                                                <select id="" name="bank_name" class="form-control width-192">
                                                    <option value="">Please select any </option>
                                                    @foreach (var banks in ViewBag.Bank)
                                                    {
                                                        <option value="@banks.Id">@banks.Bank_Name</option>
                                                    }
                                                </select>


                                            </div>
                                        </div>*@


                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Account No<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="account_no" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="">Notes<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <textarea class="width-193" name="notes" required></textarea>
                                            </div>
                                        </div>



                                        <div class="empty-height"></div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Type<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                
                                                <select id="customer_type" name="customer_type" class="form-control width-192">
                                                    <option value="">Please select any </option>
                                                    @foreach (var customer_type in ViewBag.Customer_Type)
                                                    {
                                                        <option value="@customer_type.Id">@customer_type.Type</option>
                                                    }
                                                </select>


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Opening Balance<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="opening_balance" required>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="customer-create-texts" for="middle-name">Credit Limit<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input type="text" name="credit_limit" required>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="customer-create-texts width-178" for="middle-name">Address<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input class="ml--50" type="text" name="address1" required>
                                                <input class="ml--50" type="text" name="address2">
                                                <input class="ml--50" type="text" name="address3">
                                                <input class="ml--50" type="text" name="address4">
                                                <input class="ml--50" type="text" name="address5">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <input class="ml--50" type="text" name="billing_postcode">
                                                <a href="#"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                                            </div>
                                        </div>


                                        <div class="customer-border"></div>

                                        <div class="clearfix"></div>

                                        <div class="pull-left ml-9">
                                            <label><input type="checkbox" id="billing_address_checkbox" checked="checked" onclick="Different_Address()" />Use this as billing and shipping address</label>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="empty-height"></div>


                                        <div id="Shipping_Address_Div" class="none">
                                            <div class="form-group">
                                                <label class="customer-create-texts width-178" for="middle-name">Shipping Address<span class="required">*</span></label>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <input class="ml--50" type="text" name="shipping_address" required>
                                                    <input class="ml--50" type="text" name="address2">
                                                    <input class="ml--50" type="text" name="address3">
                                                    <input class="ml--50" type="text" name="address4">
                                                    <input class="ml--50" type="text" name="address5">
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <input class="ml--50" type="text" name="shipping_postcode">
                                                    <a href="#"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>




                                <div class="clearfix"></div>


                                <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>

                                <div class="col-md-12">
                                    <p class="font-12 black-color text-center">
                                        NOTE: Opening Balance use - values if customer owed to seller and + values if seller owed to customer.
                                        <br /> Add (-1) for unlimited Credit
                                    </p>
                                </div>

                                <div class="clearfix"></div>
                                <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>


                                <div class="clearfix"></div>

                                @*<div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-3" style="margin-bottom:15px">
                <input type="submit" value="Add Product" class="btn btn-success" />
            </div>*@
                                <div class="col-md-12">
                                    <div class="col-md-3"></div>

                                    <div class="col-md-3">
                                        <input type="submit" value="Add" class="btn btn-success btn-mini center-block width-145" />
                                    </div>

                                    <div class="col-md-3">
                                        @*<a href="" class="btn btn-primary btn-mini center-block" style="width:135px">Cancel</a>*@
                                        <a href="~/Product/New_Invoice" class="btn btn-primary blue-btn-style-modal btn-mini center-block a-cancel">Cancel</a>
                                    </div>
                                    <div class="col-md-3"></div>



                                </div>


                                <div class="clearfix"></div>



                            </form>

                        </div>

                    </div>
                </div>

                <div class="modal-footer">


                </div>



            </div>
        </div>
    </div>

    @*----------------------------POP UP END ADD CUSTOMER--------------------------------*@

    <script>
        function tbody_add_record() {
            //alert("Record");
            
            var sku = document.getElementById("partial_sku");
            var sku_inner = sku.innerHTML;
            $("#codeforProduct").val(sku_inner);

            var desc = document.getElementById("partial_description");
            var desc_inner = desc.innerHTML;
            $("#invoice_description").val(desc_inner);

            var quantity = document.getElementById("partial_quantity");
            var quantity_inner = quantity.innerHTML;
            $("#invoice_quantity").val(quantity_inner);

            var price = document.getElementById("partial_normal");
            var price_inner = price.innerHTML;
            $("#invoice_price").val(price_inner);

            var price_vat = document.getElementById("partial_normal_vat");
            var price_vat_inner = price_vat.innerHTML;
            $("#invoice_price_vat").val(price_vat_inner);

            //alert(price_inner);

            document.getElementById("invoice_total").innerHTML = "£" + price_inner;
            document.getElementById("invoice_total_vat").innerHTML = "£" + price_vat_inner;


            $("#invoice_discount").val("0.00");

            $("#productList").hide();

        }
    </script>

    @*----------------------QUOTE ADD ROW-----------------------*@
    <script>
        $('.add_new_row_quote').click(function () {
            //$('#maintable_quote tr:last').after('<tr id="rowId" class="font-15 remove_div_quote"><td class="border-right-td"><div class="text-center"><input class="unbold width-110" name="" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" required=""></textarea></td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="border-right-td hidecolumnQuote text-center"><input class="new-invoice-width-boxes unbold width-78" name="" type="text"></td><td class="text-center border-right-td width-68">£12345678</td><td class="border-right-td text-center width-78 hidecolumnQuote">£123456789</td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif_quote" onclick="removeRowQuote()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
            $('#maintable_quote tr:last').after('<tr id="rowId" class="font-15 remove_div_quote"><td class="border-right-td"><div class="text-center"><input placeholder="Code"  class="unbold width-110" name="" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" required="" placeholder="Description"></textarea></td><td class="border-right-td"><div class="text-center"><input placeholder="0" class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="border-right-td hidecolumnQuote text-center"><input placeholder="0.0" class="new-invoice-width-boxes unbold width-78" name="" type="text"></td><td class="text-center border-right-td width-68"><div id="quote_total" class="total_invoice_background">£0</div></td><td class="border-right-td text-center width-78 hidecolumnQuote"><div id="quote_total_vat" class="total_invoice_background">£0</div></td><td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif_quote" onclick="removeRowQuote()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
        });

        //function removeRowQuote()

        $(document).on('click', '.kashif_quote', function removeRowQuote() {

            $(this).closest(".remove_div_quote").remove();

            //$(this).parent('div').remove();


            //function removeRowQuote(){
            //    $(this).closest(".remove_div_quote").remove();
            //}

        });
    </script>

    @*----------------------QUOTE ADD ROW-----------------------*@


    @*----------------------ITEM SALE ADD ROW-----------------------*@

    <script>
        $('.add_new_row_item_sale').click(function () {
            //$('#maintable_item_sale tr:last').after('<tr id="rowId" class="font-15 remove_div_item_sale"><td class="border-right-td"><div class="text-center"><input class="unbold width-110" name="" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" required=""></textarea></td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="text-center border-right-td width-68">£12345678</td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif_item_sale" onclick="removeRowItemSale()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
            $('#maintable_item_sale tr:last').after('<tr id="rowId" class="font-15 remove_div_item_sale"><td class="border-right-td"><div class="text-center"><input placeholder="Code" class="unbold width-110" name="" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" required="" placeholder="Description"></textarea></td><td class="border-right-td"><div class="text-center"><input placeholder="0" class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input  placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="text-center border-right-td width-68"><div class="total_invoice_background">£0</div></td><td class="border-right-td"><div class="text-center"><input placeholder="0.0" class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif_item_sale" onclick="removeRowItemSale()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
        });

        //function removeRowItemSale()

        $(document).on('click', '.kashif_item_sale', function removeRowItemSale() {

            $(this).closest(".remove_div_item_sale").remove();

            //$(this).parent('div').remove();


            //function removeRowQuote(){
            //    $(this).closest(".remove_div_item_sale").remove();
            //}

        });
    </script>

    @*----------------------ITEM SALE ADD ROW-----------------------*@
    <script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#kj').dataTable();
        });
    </script>


    @*----------------------INVOICE ADD ROW-----------------------*@
    <script>
        $('.add_new_row').click(function () {
            //$('#maintable tr:last').after('<tr id="rowId" class="font-15 remove_div"><td class="border-right-td"><div class="text-center"><input class="unbold width-110" name="" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" required=""></textarea></td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="border-right-td hidecolumn text-center"><input class="new-invoice-width-boxes unbold width-78" name="" type="text"></td><td class="text-center border-right-td width-68">£12345678</td><td class="border-right-td text-center width-78 hidecolumn">£123456789</td><td class="border-right-td"><div class="text-center"><input class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif" onclick="removeRow()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
            $('#maintable tr:last').after('<tr id="rowId" class="font-15    remove_div"><td class="border-right-td"><div class="text-center"><input placeholder="Code" class="unbold width-110" id="codeforProduct" name="yoyoyoyoyoyoyoy" onkeyup="productList()" type="text"></div></td><td class="border-right-td"><textarea class="description-text-area unbold width-100p" id="invoice_description" required="" placeholder="Description"></textarea></td><td class="border-right-td"><div class="text-center"><input id="invoice_quantity" placeholder="0" class="unbold width-45" name="" type="text"></div></td><td class="border-right-td"><div class="text-center"><input id="invoice_price" placeholder="0.0" class="new-invoice-width-boxes unbold width-68" name="" type="text"></div></td><td class="border-right-td hidecolumn text-center"><input id="invoice_price_vat" placeholder="0.0" class="new-invoice-width-boxes unbold width-78" name="" type="text"></td><td class="text-center border-right-td width-68"><div id="invoice_total" class="total_invoice_background">£0</div></td><td class="border-right-td text-center width-78 hidecolumn"><div id="invoice_total_vat" class="total_invoice_background">£123456789</div></td><td class="border-right-td"><div class="text-center"><input id="invoice_discount" placeholder="0.0" class="unbold width-45" name="" type="text"></div></td><td class="text-center width-25p" style="vertical-align:middle;"><a href="#" class="add_new_row showdiv"><img src="/img/images/plus_new_sale.png"></a><a href="#" class="kashif" onclick="removeRow()"><img src="/img/images/cross_new_sale.png" style="margin-left:3px;"></a><a href="#"><img src="/img/images/barcode_new_sale.png" style="margin-left:4px;"></a><a href="#"><img src="/img/images/findpost.png" style="margin-left:4px"></a></td></tr>');
        });

        //function removeRow()

        $(document).on('click', '.kashif', function removeRow() {

            $(this).closest(".remove_div").remove();

            //$(this).parent('div').remove();


            //function removeRow(){
            //    $(this).closest(".remove_div").remove();
            //}

        });
    </script>
    @*----------------------INVOICE ADD ROW-----------------------*@


    <script>

        function productList() {
            $("#productList").show();
            var char = document.getElementById('codeforProduct').value;

            $.ajax({
                url: '/Product/GetProducts/',
                data: { ch: char },
                cache: false,
                type: "Get",
                success: function (data) {

                    document.getElementById('productList').innerHTML = data;
                },
                error: function (response) {
                    alert(response);
                }
            })

        }


    </script>

   



</body>