@model List<eSalesPro.Models.Customer>

@foreach (var v in Model)
{
    <tr>
        <td data-title="User ID">@v.Id</td>
        <td data-title="User ID">@v.Name</td>
        <td data-title="First Name">@v.phone</td>
        <td data-title="Last Name">@v.Email</td>
        <td data-title="Email" class="user-emails">@v.Billing_Address</td>
        <td data-title="Date Registered">@v.Billing_Postcode</td>

        @*@if (@v.Is_Active == 1)
            {*@
        <td class="gg">Active</td>
        @*}
            else
            {
                <td class="red">Deactive</td>
            }*@

        <td data-title="Actions" class="text-center min-width-191 buttons-block">
            <a class="btn btn-sm btn-info bold" href="" data-toggle="modal" data-target="#Edit_Customer_Modal" onclick="GetCustomer(@v.Id)">
                Edit
            </a>
            @*<a class="btn btn-sm btn-success bold" href="#">
                    Enable
                </a>*@
            <a class="btn btn-sm btn-danger bold" onclick="delete_customer(@v.Id)">
                Delete
            </a>
        </td>
    </tr>

}